#board {
    border: 1px solid black;
    width: min(calc(100vw - 20px), calc(100vh - 20px));
    height: min(calc(100vw - 20px), calc(100vh - 20px));
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}